<h3> Agenda
    <div class="clearfix"></div>
</h3>

    <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Titulo</th>
              <th>Descripcion</th>
              <th>Repetir recordatorio</th>
              <th>Empieza en</th>
              <th>Termina en</th>
              <th>Eliminar</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.description"
                  (keyup)="refresh.next()"
                />
              </td>
              <td>
                    <ion-checkbox disabled="false" name="recodar" [(ngModel)]="event.repeat"></ion-checkbox>
              </td>
              <td>
                <ion-datetime placeholder="Select" displayFormat="h:mm a" name="hora_inicio" [(ngModel)]="event.start" required></ion-datetime>
              <td>
                <ion-datetime placeholder="Select" displayFormat="h:mm a" name="hora_final" [(ngModel)]="event.end" required></ion-datetime>
              <td>
                <button class="btn btn-danger" (click)="deleteEvent(event)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary float-left" (click)="addEvent()">
        Agregar nuevo
      </button>