<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buscador de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Buscador">
    <ion-buttons>
      <ion-button color="dark" (click)="buscar(nombre)">
          <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-input slot="end" placeholder="Buscar Producto...[LUPA=BOTON]" [(ngModel)]="nombre"></ion-input>
    </ion-buttons>
  </div>

  <ion-card *ngFor="let producto of productosService.resultados">
    <img [src]="producto.thumbnail" alt="producto.title" class="card-img-top">
    <ion-card-header>
      <ion-card-subtitle>{{producto.title}}</ion-card-subtitle>
      <ion-card-title>${{producto.price}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
