<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='light' (click)="close()" >Skip</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides>
    <ion-slide>
      <img src="assets/img/ionic-celular.png" class="slide-image" />
      <h2 class="slide-title">
        Bienvenidos a
        <b>PetPlanner</b>
      </h2>
      <p>
        ¡Una aplicación hecha para tus mascotas!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ionic-celular2.png" class="slide-image" />
      <h2 class="slide-title">¿Qué me ofrece PetPlanner?</h2>
      <p>
        <b>PetPlanner</b> te ofrece la posibilidad de poder tener un álbum especialmente para tus mascotas y poder agendar eventos para su cuidado.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ionic-celular3.png" class="slide-image" />
      <h2 class="slide-title">¿Listo?</h2>
      <ion-button fill="clear" (click)="close()">
        Continuar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>