<ion-header>
    <ion-toolbar>
        <ion-title align="center">Añadir</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
        <ion-item>
            <ion-label>Titulo</ion-label>
            <ion-input type="text" name="titulo" [(ngModel)]="adp.titulo" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-input type="text" name="descripcion" [(ngModel)]="adp.descripcion" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Imagen</ion-label>
            <ion-input>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-icon name="camera-outline" (click)="addPhotoToGallery()" required></ion-icon>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
                <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)">
                </ion-img>
            </ion-col>
        </ion-item>

        <ion-button [disabled]="formulario.invalid" type="submit" expand="block" routerLink="/adopcion-view" (click)="add()">add</ion-button>
        <ion-button type="submit" expand="block" routerLink="/adopcion-view">close</ion-button>
    </form>

</ion-content>