<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PetsPlanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid>
    <div *ngFor="let album of albumes">
      <div routerLink="/album/{{album.nombre}}">
        <img
          [src]="album.photo ? album.photo.webviewPath : 'assets/Incognit.png'"
        />
        <div style="text-align: center">
          {{album.nombre}}
          <br />
        </div>
      </div>
      <br />
    </div>
  </ion-grid>
  <div class="empty" *ngIf="albumes.length == 0">
    <span>No hay albumes creados</span>
  </div>
</ion-content>
