<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="openFirst()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mascotas en adopcion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="inf">
        <ion-card-header>
            <ion-card-subtitle>{{inf.titulo}}</ion-card-subtitle>
            <ion-card-title>
                {{inf.imagen}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>{{inf.descripcion}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-icon name="file-tray-full-outline" routerLink="/chat"></ion-icon>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/adopcion-form">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>