<ion-menu side="start" menuId="first" contentId="main">
  <div></div>
  <ion-content>

    <ion-list lines="none">
      <ion-list-header>
        Menú
      </ion-list-header>
      <ion-menu-toggle autoHide="false"
                       *ngFor="let p of appPages; let i = index"
      >
        <ion-item [routerLink]="p.url"
                  routerLinkActive="selected"
                  routerDirection="root"
                  detail="false"
        >
          <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        MASCOTAS
      </ion-list-header>
      <ion-menu-toggle autoHide="false">
        <ion-item button routerLink="./gifs" detail="false">
          <ion-icon slot="start" name="paw"></ion-icon>
          <ion-label>Gifs</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        Opciones
      </ion-list-header>
      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="openTutorial()" detail="false">
          <ion-icon slot="start" name="hammer"></ion-icon>
          <ion-label>Tutorial</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="crearAlbumModal()" detail="false">
          <ion-icon slot="start" name="add-circle"></ion-icon>
          <ion-label>Agregar Álbum</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

  </ion-content>
  <div></div>
</ion-menu>
