<ion-header>
    <ion-toolbar>
        <ion-title align="center">Evento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        TITULO
    </ion-item>
    <ion-item>
        INICIO:
        <br><br> FINAL:
    </ion-item>
    <ion-item>
        DESCRIPCION
    </ion-item>
    <br>
    <ion-button type="submit" expand="block" routerLink="/agenda-view">delete</ion-button>
    <ion-button type="submit" expand="block" routerLink="/agenda-edit">edit</ion-button>
    <ion-button type="submit" expand="block" routerLink="/agenda-view">close</ion-button>
</ion-content>